Skip to content

Search or jump to…

Pull requests
Issues
Marketplace
Explore
 @jsleason Sign out
0
0 0 jsleason/jsleason-DMUM-mobile
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Insights  Settings
jsleason-DMUM-mobile/.gitignore
e6f1ba7  17 days ago
 jsleason Initial commit
We found potential security vulnerabilities in your dependencies.
Some of the dependencies defined in package-lock.json have known security vulnerabilities and should be updated.

Only the owner of this repository can see this message.
Learn more about vulnerability alerts


36 lines (32 sloc)  438 Bytes
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
./node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/
./src/@firebase
credentials.json

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
